<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Basic Banking System</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=ABeeZee&family=Crete+Round&family=Fredoka+One&family=Krona+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index_css.css">
    <link rel="icon" href="../image/credit-card.png">
    <style>
        .about{
            position: absolute;
            top: 300px;
            right: 50px;
        }
        .about h1{
            font-family: 'Permanent Marker', cursive;
        }
        .self{
            display: inline-block;
            position: absolute;
            top: 300px;
            left: 820px;
        }
        .git{
            display: inline-block;
            position: absolute;
            top: 300px;
            left: 950px;
        }
    </style>
</head>

<body>
    <header>
        <div class="navcontainer">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/customers">All Customer</a></li>
                    <li><a href="/addcustomer">New Customer</a></li>
                </ul>
            </nav>
        </div>
    </header>
    <div class="front">
        <h1 class="heading" style="display: block;">Uniline Bank</h1>
        <p class="moto" style="display: block;">We Serve for Greatness.</p>
        <img src="image/debit-card.png" alt="debit-card">
        <!-- <form action="/customers" method="GET">
            <button style="display: block;" type="submit">View All Customer</button>
        </form> -->
        <div class="about">
            <h1>Created By Rahul Behera</h1>
        </div>
        <div class="self">
        <a href="https://reekid2002.github.io/Personal_Page/index.html" target="_blank"><img style="height: 100px; width: 100px;" src="image/boy.png" alt="boy"></a>
    </div>
        <div class="git">
        <a href="https://github.com/ReeKid2002" target="_blank"><img style="height: 100px; width: 100px;" src="image/github-sign.png" alt="github-sign"></a>
    </div>
    </div>
</body>
</html>